.ms-n5 {
  margin-left: -40px;
}

table {
  border-collapse: separate;
  border-spacing: 0 12px;
}

td {
  color: #667085;
  font-weight: 400;
}

th {
  color: #4f5b67;
}

.btn-text {
  color: #667085;
}

div.show-image {
  position: relative;
  float: left;
  margin: 2px;
  background-color: black;
}
div.show-image:hover img {
  opacity: 0.5;
}
div.show-image:hover button {
  display: block;
}
div.show-image button {
  position: absolute;
  display: none;
}

div.show-image button.delete {
  top: -5px;
  left: -6px;
}

table tr:last-child th:last-child,
table tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

// Custom styling - Not neccesary for the sizes.
body {
  background: gray;
}
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: green;
  border-color: darken(green, 10%);
}

//---------------CUSTOM SIZE STYLING---------------//

// Add class `.custom-switch-lg` to a `custom-switch`
.custom-switch.custom-switch-lg {
  padding-bottom: 1rem;
  padding-left: 2.25rem;

  & .custom-control-label {
    padding-left: 0.75rem;
    padding-top: 0.15rem;

    &::before {
      border-radius: 1rem;
      height: 1.5rem;
      width: 2.5rem;
    }

    &::after {
      border-radius: 0.65rem;
      height: calc(1.5rem - 4px);
      width: calc(1.5rem - 4px);
    }
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(1rem);
  }
}

.form-check-input {
  clear: left;
}

.form-switch.form-switch-md {
  margin-bottom: 1rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-md .form-check-input {
  height: 1.5rem;
  width: calc(2rem + 0.75rem);
  border-radius: 3rem;
}

.btn-view {
  color: #00ab66;
  font-weight: 400;
  background-color: #e1f2eb;
  border-radius: 8px;
}

.btn-view:hover {
  color: #02d47f;
}

.btn-notes {
  color: #667085;
  font-weight: 400;
}

.menu {
  position: relative;
  top: 150px;
  width: 200px;
  text-align: center;
  background-color: #1d1f20;
  color: #809a00;
  font-size: 22px;
  margin: 0px auto;
  border: 3px dashed gray;
}

.list {
  max-height: 0;
  transition: max-height 0.75s ease-out;
  overflow: hidden;

  li {
    border-top: 3px dashed gray;
  }
}

.active {
  max-height: 300px;
  transition: max-height 0.75s ease-in;
}

.wrapper {
  margin: 0px auto;
  width: 100%;
  height: 600px;
  background-color: #1d1f20;
}

.startRow {
  border-radius: 12px 0 0 12px;
}

.endRow {
  border-radius: 0 12px 12px 0;
}

tr .fullRow {
  border-radius: 0 0 12px 12px;
  border-spacing: 0 0;
}

.collapseContainingDiv td {
  padding: 0 !important;
}

.content {
  text-align: center;
}

.star {
  position: relative;
  border: none;
  height: 0;
  width: 0;
}

.star-sm {
  font-size: 12px;
}

.star input {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
}

.star label:before {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1.5em;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.star input:checked ~ label:before {
  color: #ffc107;
}

/* Modals Image */
/* Style the Image Used to Trigger the Modal */
#pict {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#pict:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modalThumb {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modalThumb-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modalThumb-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modalThumb-content {
    width: 100%;
  }
}

.image {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 2;
}

.pill-waiting {
  border-radius: 20px 20px 20px 20px;
  background-color: #fff9cf;
  color: #f69b12;
}

.pill-approved {
  border-radius: 20px 20px 20px 20px;
  background-color: #e6fbd9;
  color: #00ab66;
}

.pill-submit {
  border-radius: 20px 20px 20px 20px;
  background-color: #91e3c2;
  color: #5aa788;
}

.pill-secondary {
  font-weight: 500;
  border-radius: 20px 20px 20px 20px;
  background-color: #c4c4c4;
  color: #6b7280;
}

.btn-del {
  background-color: #fe753f;
}

.btn-del:hover {
  background-color: #e95c25;
}

.btn-note {
  color: #9e1516;
  font-weight: 500;
}

.btn-note:hover {
  color: #9e1516;
  font-weight: 500;
  background: #f5e8e8;
}

.btn-radio-check {
  color: black;
}

.btn-complete {
  color: #00ab66;
}

.btn-complete:hover {
  color: white;
}

.btn-upload {
  font-weight: 500;
  color: #528dac;
  background-color: #c5e6f9;
}

.btn-upload:hover {
  font-weight: 500;
  color: #528dac;
  background-color: #b1daf2;
}

.btn-show-revision {
  font-weight: 500;
}

.btn-upload-disabled {
  color: white;
  background-color: #c4c4c4;
}

.btn-danger {
  color: white;
}

.btn-danger:hover {
  color: white;
  background-color: #dc3545;
}

.btn-danger:focus {
  color: white;
  background-color: #dc3545;
}

.btn-upload-disabled:hover {
  color: white;
  background-color: #aeaeae;
}
